.fp--topheader {
		background: #f46b45;
		background: linear-gradient(to right, #f46b45, #eea849);
		.copy--title {
				color: #FFF;
				font-size: 1.4rem;
		}
		.copy--desc {
				color: #FFF;
				margin: 1em 0;
		}
		.button.hollow {
				border-color: $primary-color;
				color: $primary-color;
		}
}

.pageheader.-front {
		margin-top: 0;
		padding-top: 0;
		.service--item {
				padding-top: 50px;
		}
}